result/*
predicted_obs-main/*
.venv/*
20grey_test_series.npz
model.pth
model2.pth
model3.pth
model4.pth
model5.pth
model6.pth
model99.pth
model100.pth
modelcanny.pth
modelcrop.pth
percent.pth
transfer.py
archive.tgz